*.pyc
response.txt
backend/calendar_logic/google_calendar/token.json
backend/calendar_logic/google_calendar/credentials.json
venv/

backend/db.sqlite3

chromeExtension.crx
chromeExtension.pem

.env

.vscode/
.idea/